{% extends 'base.html' %}

{% block content %}
<h1 class="title">Create New Project</h1>

<div class="box">
    <form method="post">
        {% csrf_token %}

        <h3 class="title is-4">Project Details</h3>
        {% for field in form %}
        <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
                {{ field }}
            </div>
            {% if field.errors %}
            <p class="help is-danger">{{ field.errors }}</p>
            {% endif %}
        </div>
        {% endfor %}

        <h3 class="title is-4 mt-6">Requirements</h3>
        <p class="subtitle is-6">Add specific requirements for contractors to bid on.</p>

        {{ formset.management_form }}
        {% for form in formset %}
        <div class="box has-background-light">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Requirement Name</label>
                        <div class="control">
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <div class="column is-narrow">
                    <div class="field">
                        <label class="label">Delete</label>
                        <div class="control">
                            {{ form.DELETE }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="field mt-6">
            <div class="control">
                <button class="button is-primary" type="submit">Create Project</button>
                <a href="{% url 'dashboard' %}" class="button is-light">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}